<div id="sidebar" class="sidebar">
    <a href="https://twitter.com/codegician?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow
        @codegician</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% assign sorted_collections = site.collections | sort: "position" %}
    {% for collection in sorted_collections %}
    {% if collection.label != "posts" %}
    <section>
        <h6>{{ collection.title }}</h6>
        <ul>
            {% assign sorted_docs = collection.docs | sort: "position" %}
            {% for doc in sorted_docs %}
            <li>
                <a href="{% if page.url != '/' %}/{% endif %}#{{ doc.id | replace: '/', '' | replace: '.', '' }}">
                    {{ doc.title }}
                    {% if doc.type %}<span class="endpoint {{ doc.type }}"></span>{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    {% endfor %}
	<div style="text-align: center">
    <img data-creepyface
         src="{{ site.baseurl }}/img/serious.jpeg" data-src-hover="{{ site.baseurl }}/img/hover.jpeg"
         data-src-look-0="{{ site.baseurl }}/img/0.jpeg" data-src-look-45="{{ site.baseurl }}/img/45.jpeg" data-src-look-90="{{ site.baseurl }}/img/90.jpeg"
         data-src-look-135="{{ site.baseurl }}/img/135.jpeg" data-src-look-180="{{ site.baseurl }}/img/180.jpeg" data-src-look-225="{{ site.baseurl }}/img/225.jpeg"
         data-src-look-270="{{ site.baseurl }}/img/270.jpeg" data-src-look-315="{{ site.baseurl }}/img/315.jpeg"
         style="border-radius: 50%; width:100px; height:100px; object-fit: cover; margin-top: 50px; margin-bottom:auto">
	</div>
</div>
